<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.BookSDao">

 <!-- 目的：为dao接口方法提供sql语句配置 -->

 <select id="queryBybookname" resultType="BookS" parameterType="String">

 <!-- 具体的sql -->

 SELECT

 texturl


 FROM

 book

 WHERE

 bookname = #{bookname}

 </select>
 <select id="queryBybookurl" resultType="BookS" parameterType="String">

 <!-- 具体的sql -->

 SELECT

 bookname


 FROM

 book

 WHERE

 texturl = #{texturl}

 </select>
 
 <select id="queryBooks" resultType="BookS">
	 SELECT
	
	 bookname,
	
	 texturl
	
	 FROM
	
	 book
	
	 ORDER BY
	
	 bookname
 
 </select>

 

 <select id="queryAll" resultType="BookS">

 SELECT

 bookname,

texturl

 FROM

 book

 ORDER BY

 bookname

 LIMIT #{offset}, #{limit}

 </select>

 

 
 
  <insert id="insertBook" parameterType="BookS" >
    insert into book values(#{bookname},#{texturl})
 </insert>

</mapper>